/* default page with bg */
body.with-bg {
    background: url('./images/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* dashboard page */
body.no-bg {
    background: white;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* login/register/dashboard box  */
.login-box {
    background-color: rgba(255, 255, 255, 0.85); 
    border-radius: 15px; 
    width: 480px; 
    padding: 50px; 
    margin-top: 150px; 
    margin-right: 80px; 
}

/* button */
.login-box button {
    height: 50px; 
    font-size: 18px; 
}
